// Essentials
$white: #EFEFEF;
$black: #0A0A0A;
$shadow: rgba(10, 10, 10, 0.5);
$stroke: #26263E;

// Backgrounds
$gradient-bg: linear-gradient(180deg, rgba(53, 53, 72, 1) 15%, rgba(24, 24, 34, 1) 100%);
$inner-bg-gradient-compass: linear-gradient(180deg, #343453 0%, #7474B9 100%);
$navigation-menu-bg: #353548;
$input-bg: #121212;
$waves-darker: #232337;
$waves-ligher: #2E2E49;

// Button + alert boxes state backgrounds
$normal-bg: #343453;
$onhover-bg: #444463;
$active-bg: #242443;

// Value field states
$editable-value: #50a1f1;
$error-value: #992324;

// Alerts
$alert-alarm: #FF0000;
$alert-warning: #FF7A00;
$alert-caution: #FAD900;

// Port + stbd
$stbd: #138517; // green, right, starboard
$port: #851111; // red, left, port

// Pipe colorings
$pipe-sea-water: #008308;
$pipe-clean-water: #3D72C2;
$pipe-air: #BFBFBF;
$pipe-fuel: #AF5810;
$pipe-oil: #D4912B;