@import '../../../styles/colors';
@import '../../../styles/effects';

.navigation {
  background-color: $navigation-menu-bg;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;

  &__pages {
    width: 70%;
  }

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__icons {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: $sm-margin;

      & > img {
        width: 48px;
        height: 48px;
      }
    }

    &-alert {
      width: 300px;
      height: auto;
    }

    &-number-alerts {
      font-size: 1.2em;
    }
  }
}