@import '../../../styles/colors';

.navigation {
  background-color: $navigation-menu-bg;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__pages {
    width: 70%;
  }

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-icon {
      width: 48px;
      height: 48px;
    }

    &-alert {
      width: 300px;
      height: auto;
    }
  }
}