@import '../../../../styles/colorVariables';

h2 {
  color: $neutral-soft-white;
}

label {
  color: $neutral-soft-white;
}

.Themes,
.Config,
.Grid {
  display: flex;
}

label {
  margin-right: 10px;
  margin-top: 10px;
  width: 10%;
}

.Btn {
  width: fit-content;
  display: flex;
}