@import '../../../styles/colorVariables';

.configurator-bar {
  display: flex;
  align-items: flex-end;

  grid-row: 3 / span 1;

  position: relative;
  z-index: 100000;

  &__background {
    height: 100%;
    width: 100%;

    background-color: $neutral-soft-white;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__action-buttons {
    display: flex;
    align-self: flex-end;
  }

  &__action {
    background-color: $new-button-background;
    color: $neutral-soft-white;

    border-radius: 4px 4px 0 0;

    margin: 0 10px;
    padding: 0 10px;

    display: flex;
    align-items: center;

    height: 50px;

    cursor: pointer;

    &:hover {
      background-color: $new-button-on-hover;
    }
  }

  &__mode-active {
    margin: 0 10px;
  }
}