@import "../../../styles/colorVariables";

.draggable {
  width: auto;
  height: auto;
  position: fixed;
  cursor: move;
}

.non-draggable {
  width: auto;
  height: auto;
  position: fixed;
  cursor: default;
}