@import "./styles/colorVariables";

html, body {
  background-color: $background-body;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: 'Work Sans', sans-serif;
}

.app {
  width: 100%;
  height: 100%;

  background-color: $background-body;
  color: $neutral-soft-white;

  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 100%;
  height: 100%;

  &-config-mode {
    grid-template-rows: 50px 1fr 25px;
  }
}

.components {
  grid-column: 1 / 1;
  grid-row: 2 / span 1;

  position: relative;
  flex-direction: row;

  padding: 10px;
}


.filter {
  height: 100%;

  &__night {
    background-color: $nightfilter;
    opacity: 30%;
  }
}

.loading {
  grid-area: 2 / 1 / 2 / 1;
  margin: auto;
  text-align: center;
}

.loader {
  display: inline-grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 6;
  --c: #0000 64%,#ffffff 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 25% 100%;
  background-size: calc(100%/3) 50%;
  background-repeat: repeat-x;
  -webkit-mask: repeating-linear-gradient(90deg,#000 0 15%,#0000 0 50%) 0 0/200%;
  animation: l8 5s infinite linear;
}
.loader:after {
  scale: -1;
}
@keyframes l8{
  to {-webkit-mask-position:-100% 0}
}