@import "../../../styles/colorVariables";

.button {
  width: 200px;
  height: fit-content;

  padding: 5px 10px;

  background-color: $new-button-background;

  border: 1px solid $new-button-border;
  border-radius: 8px;

  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));

  cursor: pointer;

  &__label {
    margin: 0;

    color: $neutral-soft-white;
  }

  &:hover {
    background-color: $new-button-on-hover;

    filter: none;
  }
}