@import '../../../styles/colorVariables';
@import '../../../styles/colors';
@import '../../../styles/effects';

.rudder {
  margin: $md-margin;

  &__outer-circle {
    fill: $navigation-menu-bg;
    filter: drop-shadow($md-shadow);
  }

  &__inner-circle {
    fill: url(#paint0_linear_1037_1650);
    filter: drop-shadow(-4px -4px 0 rgba(10, 10, 10, 0.5));
  }

  &__angles {
    &__port {
      fill: $port-nav;
    }

    &__starboard {
      fill: $starboard-nav;
    }

    &__number {
      fill: $white;
      font-size: 14px;
    }

    &__max {
      font-weight: bold;
    }
  }

  &__pointer {
    fill: $white;
    filter: drop-shadow($sm-shadow);
  }

  &__boat {
    filter: drop-shadow($sm-shadow);

    fill: $navigation-menu-bg;
    stroke: $white;
  }
}