@import '../../../styles/colorVariables';

.valve {
  cursor: pointer;

  &-top {
    fill: $neutral-soft-white;
  }

  &-fill {
    fill: transparent;
    clip-path: inset(100% 0 0 0);

    &__stroke {
      stroke: $neutral-soft-white;
      stroke-width: 1;
    }

    &__cleanwater {
      fill: $engine-cleanwater;
      clip-path: inset(100% 0 0 0);
      animation: fillAnimation 2.5s forwards;
    }

    &__fuel {
      fill: $engine-fuel;
      clip-path: inset(100% 0 0 0);
      animation: fillAnimation 2.5s forwards;
    }
  }

  &-flow {
    fill: $neutral-soft-white;
  }
}


@keyframes fillAnimation {
  to {
    clip-path: inset(0 0 0 0);
    /* Reveal the fill */
  }
}

@keyframes emptyAnimation {
  to {
    clip-path: inset(100% 0 0 0);
    /* Reveal the fill */
  }
}