@import "../../../styles/colorVariables";

.valve {
  cursor: pointer;

  &-top {
    fill: $neutral-soft-white;
  }

  &-fill {
    fill: transparent;
    clip-path: inset(100% 0 0 0);

    &__stroke {
      stroke: $neutral-soft-white;
      stroke-width: 1;
    }
    
    &__cleanwater {
      fill: $engine-cleanwater;
      animation: fillAnimation 5s forwards;
    }
    &__fuel {
      fill: $engine-fuel;
      animation: fillAnimation 5s forwards;
    }
  }
  
  &-flow {
    fill: $neutral-soft-white;
  }
}


@keyframes fillAnimation {
  to {
    clip-path: inset(0 0 0 0); /* Reveal the fill */
  }
}
