@import '../../../styles/colors';

.valve {
  cursor: pointer;

  &-top {
    fill: $white;
  }

  &-fill {
    fill: transparent;
    clip-path: inset(100% 0 0 0);

    &__stroke {
      stroke: $white;
      stroke-width: 1;
    }

    &__clean-water {
      fill: $pipe-clean-water;
      clip-path: inset(100% 0 0 0);
      animation: fillAnimation 2.5s forwards;
    }

    &__fuel {
      fill: $pipe-fuel;
      clip-path: inset(100% 0 0 0);
      animation: fillAnimation 2.5s forwards;
    }
  }

  &-flow {
    fill: $white;
  }
}


@keyframes fillAnimation {
  to {
    clip-path: inset(0 0 0 0);
    /* Reveal the fill */
  }
}

@keyframes emptyAnimation {
  to {
    clip-path: inset(100% 0 0 0);
    /* Reveal the fill */
  }
}