@import '../../../styles/effects.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';

.button {
  background-color: $normal-bg;
  border: 0.5px solid $stroke;
  border-radius: $md-radius;
  
  padding: $sm-padding;
  margin: $sm-margin;

  width: fit-content;
  max-width: 200px;
  height: auto;

  box-shadow: $md-shadow;

  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $onhover-bg;
    
    box-shadow: $md-shadow;
    
    cursor: pointer;
  }

  &__label {
    color: $white;
    font-family: 'Work Sans', 'sans-serif';
    font-size: $st-font-size;
    font-weight: bold;

    margin: 5px;
  }
}

.active {
  background-color: $active-bg;

  box-shadow: $md-inner-shadow;
}