@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/effects';

.value-field {
  &__field {
    width: fit-content;

    margin: $sm-margin;
  }
  
  &__editable {
    color: $white;
  }
  
  &__input {
    color: $editable-value !important;
    font-weight: bold;
    background-color: $input-bg;
    
    border: 1px solid $stroke;
    
    border-radius: $md-radius;
    
    box-shadow: none;

    font-family: 'Work Sans', sans-serif;
    font-size: $st-font-size;
    text-align: center;

    padding: $md-padding;
  }

  &__block {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    width: 100%;
  }

  &__unit {
    margin: $sm-margin;

    height: 100%;
  }

  &__label, &__times-amount {
    font-size: $st-font-size;

    margin: 0 0 5px 0;
  }

  &__times-amount {
    font-size: 16px;
  }

  &__times {
    display: flex;
    justify-content: flex-end;
  }
}