@import '../../../styles/colors';

.orthogonal-line {
  position: absolute;
  
  top: 0;
  left: 0;

  overflow: visible;

  & > path {
    fill: none;
    stroke-width: 5px;
  }

  &__type__pipe {
    &__clean-water {
      stroke: blue;
    }

    &__sea-water {
      stroke: green;
    }

    &__fuel {
      stroke: brown;
    }

    &__lub-oil {
      stroke: orange;
    }
  }

  &__type__connection {
    stroke: $white;
  }
}